/* style.css */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Занимаем всю высоту viewport */
    background-color: #111; /* Темный фон */
    font-family: 'Share Tech Mono', monospace; /* Ваш шрифт */
    color: #daf6ff; /* Цвет текста */
}

#clock {
    text-align: center; /* Текст по центру */
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(10, 175, 230, 0.2); /* Непрозрачный фон */
    box-shadow: 0 0 20px rgba(10, 175, 230, 0.5); /* Тень */
}

.time, .date {
    font-size: 3em; /* Размер шрифта для времени и даты */
    line-height: 1.2; /* Уменьшаем межстрочный интервал */
    text-shadow: 8px 5px 10px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0); /* Ваша тень */
}


.text {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Адаптивность - Media Queries */
@media (max-width: 768px) {
    #clock {
        font-size: 1em; /* Уменьшаем размер шрифта на маленьких экранах */
    }
    .time, .date {
        font-size: 2em; /* Уменьшаем размер шрифта времени и даты на маленьких экранах*/
    }
    .text {
        font-size: 0.8em;
    }

}
@media (max-width: 480px) {
    #clock {
        font-size: 0.8em; /* Уменьшаем размер шрифта на очень маленьких экранах */
    }
    .time, .date {
        font-size: 1.5em; /* Уменьшаем размер шрифта времени и даты на очень маленьких экранах*/
    }
    .text {
        font-size: 0.6em;
    }

}