body{
    background-color: black;
    display: flex;
    justify-content: center;
}

#clock{
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    color: #daf6ff;
    text-align: center;
    text-shadow: 8px 5px 10px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    margin-top: 13em;
    flex-grow: 1;
    flex-basis: 70%;
    /*margin-top: 15em;
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 8px 5px 10px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);*/
}

#clock .time{ 
    letter-spacing: 0.05em; 
    font-size: 80px; 
    padding: 5px;
}

#clock .date{
    letter-spacing: 0.1em;
    font-size: 24px;
}

#clock .text{
    letter-spacing: 0.1em;
    font-size: 30px;
    padding: 20px 0 0;
}

@media screen and (max-width: 390px) {
    #clock .time{
        font-size: 4.7em; 
    }
    
    #clock .date{
        font-size: 1.7em;
    }
    
    #clock .text{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 370px) {
    #clock .time{
        font-size: 4.4em; 
    }
    
    #clock .date{
        font-size: 1.4em;
    }
    
    #clock .text{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 370px) {
    #clock .time{
        font-size: 4.4em; 
    }
    
    #clock .date{
        font-size: 1.4em;
    }
    
    #clock .text{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 350px) {
    #clock .time{
        font-size: 4.2em; 
    }
    
    #clock .date{
        font-size: 1.4em;
    }
    
    #clock .text{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 330px) {
    #clock .time{
        font-size: 4em; 
    }
    
    #clock .date{
        font-size: 1.4em;
    }
    
    #clock .text{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 315px) {
    #clock .time{
        font-size: 3.7em; 
    }
    
    #clock .date{
        font-size: 1.3em;
    }
    
    #clock .text{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 300px) {
    #clock .time{
        font-size: 3.6em; 
    }
    
    #clock .date{
        font-size: 1.2em;
    }
    
    #clock .text{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 280px) {
    #clock .time{
        font-size: 3.1em; 
    }
    
    #clock .date{
        font-size: 1em;
    }
    
    #clock .text{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 250px) {
    #clock .time{
        font-size: 3em; 
    }
    
    #clock .date{
        font-size: 1em;
    }
    
    #clock .text{
        font-size: 1.2em;
    }
}